.body {
  font-family: 'Open Sans';
  color: grey;

}

.time {
  font-size: 72px;
  margin-top: 200px;
}

.btn {

}

.jumbotron {
  position: relative;
  background-color: grey;
  border: solid;
  border-color: black;
  padding: inherit;
  height: 800px;
  width: 200px;
}
